* {
    background-color: #24233b;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #d1d5dd;
}
p, h1 {
    font-family:'Vollkorn', serif;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: underline;
}
