/*NOTHING WORKS RN LMAOOOOO*/

html {
    height: 100vh;
    overflow: hidden;
}

body {
    background:#1d1824 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    color: #d1d5dd;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family:'Vollkorn', serif;
}







